body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	color: #111;
	background-color: #EEE;
}
h1, h2, p, div, ul, ol, li, h3, h4, h5, h6, blockquote, table, tr, td, th{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#wrapper {
	width: 100%;
}
#position {
	margin: 0 auto;
	text-align:left;
	width: 800px;
}

/* #wrapper Classes */
.head {
	background-color: #333;
	color: #EEE;
	height: 100px;
	padding: 50px 0 0 0;
	
}

/* #position Classes */
.adminlogin{
	margin: 0 auto;
	width: 500px;
	background-color: #FFF;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-left: solid 3px #CCC;
	border-right: solid 3px #CCC;
	border-bottom: solid 3px #CCC;
	padding: 50px 0px 50px 0px;
}
.admin {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-left: solid 3px #CCC;
	border-right: solid 3px #CCC;
	border-bottom: solid 3px #CCC;
	background-color: #FFF;
	padding: 0px 5px 0px 5px !important;
}
/* Positioning Rules */
.adminright {
	float: right;
	margin: -25px 0 0 0;
}
.submit {
	background-color: #333;
	color: #EEE;
	border: 1px dashed #EEE;
	font-family: Verdana, Geneva, sans-serif;
}
/* <a> */
a:link {
	color: #39C;
}
a:visited {
	color: #99C;
}